*, *::after, *::before {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;   
  padding: 1em;
  min-height: 100vh;
  background-color: hsl(240, 3%, 7%);
  font-size: clamp(.5rem, 2.5vmin, 1.5rem);
}
